@model IEnumerable<MainDyplomeWork.FilmContext.Film>

@{
}
        <div class="main-container">
          <div class="row">
            <div class="col-md-4 col-sm-2 col-lg-2">
              <div class="genre">
                <h2>Genres</h2>
                <ul>
                  <li><a asp-controller="Film" asp-action="Index" asp-route-id="">All Genres</a></li>
                  @foreach(MainDyplomeWork.FilmContext.Genre genre in ViewBag.GenresList)
                  {
                    <li><a asp-controller="Film" asp-action="Index" asp-route-id="@genre.Id">@genre.GenreName</a></li>
                  }
                </ul>
              </div>
            </div>
      
            <div class="col-md-8 col-lg-10 col-sm-10">
              <div class="col-md-12 cinema-list">
                <h2>Cinema List</h2>
                <div class="newFilm">
                    <a asp-controller="Film" asp-action="Create">Create new film</a>
                </div>
              </div>
              @foreach(MainDyplomeWork.FilmContext.Film item in Model )
              {
                  
              
              <div class="movie-info row">
                <div class="col-md-4 col-sm-8">
                  <img src="/img/filmsImage/film1.jpg" alt="Movie Poster" class="img-fluid">
                </div>
      
                <div class="col-md-8 col-sm-4">
                  <div class="movie-title">
                    <h1 class="movie-name">@item.FilmName</h1>
                  </div>
      
                  <div class="genre-info">
                    <h2>Genre:</h2>
                    <p>
                        @foreach( MainDyplomeWork.FilmContext.Genre_Film item2 in item.Genres)
                        {
                            <span>@item2.genre.GenreName</span>            
                        }
                    </p>
                   </div>

                  <div class="movie-description">
                    <h2>Description of the movie:</h2>
                    <p>@item.Description</p>
                  </div>
      
                  <div class="rating">
                    <h2>Rating:</h2>
                    <p>1/5</p>
                  </div>
                  <div class="actionButton">
                      <a asp-controller="Film" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                      <a asp-controller="Film" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                  </div>
                </div>
              </div>   
              
              }

            </div>
            <div>Pages&nbsp:&nbsp
                @for (int i = 0;i < ViewBag.pageCnt; i++)
                {
                    <a href="/Film/Index/@ViewBag.curGenge?curPage=@i">@(i+1)</a>
                }
            </div>
          </div>
        </div>